<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="canonical" href="https://bigfat.cc/" />
	<title>Change Password</title>

	<base href="." />

	<meta name="viewport"
		content="width=device-width initial-scale=1 maximum-scale=1 minimum-scale=1 user-scalable=no" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<link rel="apple-touch-icon" sizes="180x180"
		href="https://bigfat.cc/catalog/view/theme/bigfat/favicons/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="https://bigfat.cc/catalog/view/theme/bigfat/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="https://bigfat.cc/catalog/view/theme/bigfat/favicons/favicon-16x16.png" />
	<link rel="manifest" href="https://bigfat.cc/catalog/view/theme/bigfat/favicons/site.webmanifest" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />

	<link rel="stylesheet" href="/static/61ad427ae611110d9f02176ddcad45ae-1-1.css" as="style"
		onload="this.onload=null;this.rel=&#39;stylesheet&#39;;this.media=&#39;screen&#39;" crossorigin="anonymous"
		media="screen" />
	<link rel="stylesheet" media="screen" href="/static/61ad427ae611110d9f02176ddcad45ae-1-1.css"
		crossorigin="anonymous" />
	<link rel="stylesheet" href="/static/css2" as="style"
		onload="this.onload=null;this.rel=&#39;stylesheet&#39;;this.media=&#39;screen&#39;" crossorigin="anonymous"
		media="screen" />
	<link rel="stylesheet" media="screen" href="/static/css2" crossorigin="anonymous" />
	<script src="/static/jquery.min.js.download" crossorigin="anonymous"></script>
	<script src="/static/feather.min.js.download" crossorigin="anonymous"></script>
	<script src="/static/js.cookie.min.js.download" async="" crossorigin="anonymous"></script>
	<script src="/static/popper.min.js.download" crossorigin="anonymous"></script>
	<script src="/static/bootstrap.min.js.download" crossorigin="anonymous"></script>
	<script src="/static/92fb9581c692b76215e857ec6376c303-1-1.js.download" async=""
		crossorigin="anonymous"></script>
</head>

<body>
	{% include 'base/header.html'   %}
	<div class="bf-article-page">
		<div class="bf-article-page-headbox">
			<div class="bf-article-page-headbox-overflow">
				<div class="bf-article-headbox-left">
					<ol class="bf-breadcrumb">
						<li class="bf-breadcrumb-item"><a href="/news">Home</a></li>
						<li class="bf-breadcrumb-item"><a href="/auth/change-password">Change Password</a></li>
					</ol>
				</div>
			</div>
		</div>

		<form action="/auth/change-password" method="post" enctype="multipart/form-data">
			<div class="bf-article-inner">
				<div class="bf-password-item-block">
					<input name="password" type="password" value="" placeholder="Enter new password"
						autocomplete="new-password" onfocus="this.removeAttribute(&#39;readonly&#39;)"
						onblur="this.setAttribute(&#39;readonly&#39;, &#39;readonly&#39;)" aria-autocomplete="list"
						readonly="readonly" wfd-id="id0" />
					<div class="eye">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-eye">
							<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
							<circle cx="12" cy="12" r="3"></circle>
						</svg>
					</div>
				</div>

				<div class="bf-password-item-block">
					<input name="confirm" type="password" value="" placeholder="Repeat new password"
						autocomplete="new-password" onfocus="this.removeAttribute(&#39;readonly&#39;)"
						onblur="this.setAttribute(&#39;readonly&#39;, &#39;readonly&#39;)" wfd-id="id1"
						readonly="readonly" />
					<div class="eye">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-eye">
							<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
							<circle cx="12" cy="12" r="3"></circle>
						</svg>
					</div>
				</div>

				<div class="bf-save-button"><button type="submit">Save change</button></div>
			</div>
		</form>
	</div>


</body>

</html>