.flash-message {
  color: white;
}
.flash-message.error {
  background-color: rgb(247, 44, 44);
}
.flash-message.success {
  background-color: #3bb23b;
}

.bf-table-cell button.addcart.adding:before {
  content: "Adding...";
}