<!-- Edit Personal things on page -->
<header class="bf-header">
    <div class="bf-header-inner">
        <div class="bf-header-topbar">
            <div class="bf-header-left_navigation-box">
                <div class="bf-main-menu-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </div>

                <div class="bf-fullscreen-mode"><button data-toggle-fullscreen="" title="View Fullscreen"></button>
                </div>
            </div>

            <a href="/" class="bf-logo-header"><span>Cash<strong>Flow</strong>Cartel</span></a>

            <div class="bf-header-right_navigation-box">
                <div class="bf-user-cartbox">
                    <div class="bf-cardbox-button">
                        <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path fill="#fff" fill-rule="nonzero"
                                    d="M5.457 5H3a1 1 0 1 1 0-2h3.273a1 1 0 0 1 .98.8L7.907 7H21a1 1 0 0 1 .982 1.191l-1.311 6.72a2.623 2.623 0 0 1-2.616 2.09L10.12 17c-1.272.024-2.384-.852-2.635-2.087L6.12 8.24a.995.995 0 0 1-.016-.078L5.457 5zm2.86 4l1.128 5.513c.058.283.324.493.657.487h7.971c.314.006.58-.204.636-.48L19.786 9H8.317zM10 19h8a1 1 0 0 1 0 2h-8a1 1 0 0 1 0-2z">
                                </path>
                            </svg><span class="bf-cart-notification" style="display: none">0</span></a>
                    </div>
                </div>

                <div class="bf-user-balance">
                    <div class="bf-user-balance-button">
                        <a href="/transactions">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background: new 0 0 512 512" xml:space="preserve" fill="#fff">
                                <g>
                                    <g>
                                        <path
                                            d="M364.146,21.952H61.337C27.518,21.952,0,49.47,0,83.289c0,33.819,27.518,61.337,61.337,61.337v-38.739 c-12.461,0-22.598-10.137-22.598-22.598c0-12.461,10.137-22.598,22.598-22.598h283.44v64.565h38.739V41.322 C383.516,30.623,374.845,21.952,364.146,21.952z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M492.63,105.887H61.337c-12.461,0-22.598-10.137-22.598-22.598c0-10.698-8.671-19.369-19.369-19.369S0,72.59,0,83.289 v345.422c0,33.819,27.518,61.337,61.337,61.337H492.63c10.698,0,19.37-8.671,19.37-19.37V125.256 C512,114.558,503.329,105.887,492.63,105.887z M473.261,451.309H61.337c-12.461,0-22.598-10.137-22.598-22.598V140.313 c6.992,2.783,14.624,4.313,22.598,4.313h411.924V451.309z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M406.113,333.155c-17.097,0-30.998-13.901-30.998-30.991s13.907-30.991,30.998-30.991h85.871v-38.739h-85.871 c-38.455,0-69.737,31.282-69.737,69.73c0,38.448,31.282,69.73,69.737,69.73h86.517v-38.739H406.113z">
                                        </path>
                                    </g>
                                </g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                                <g></g>
                            </svg>
                            <span class="bf-money-amount" data-balance_value="0.00">$ {{request.user.balance}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav class="bf-header-navigaton">
            <span class="bf-navigation-nick">User:&nbsp;&nbsp;{{ request.user.username }}</span>

            <ul class="bf-navigation-list">
                <li class="bf-navigation-item select">
                    <a href="/news"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-layout">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="3" y1="9" x2="21" y2="9"></line>
                            <line x1="9" y1="21" x2="9" y2="9"></line>
                        </svg>News</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/transactions">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                            style="enable-background: new 0 0 512 512" xml:space="preserve" fill="#fff">
                            <g>
                                <g>
                                    <path
                                        d="M364.146,21.952H61.337C27.518,21.952,0,49.47,0,83.289c0,33.819,27.518,61.337,61.337,61.337v-38.739 c-12.461,0-22.598-10.137-22.598-22.598c0-12.461,10.137-22.598,22.598-22.598h283.44v64.565h38.739V41.322 C383.516,30.623,374.845,21.952,364.146,21.952z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M492.63,105.887H61.337c-12.461,0-22.598-10.137-22.598-22.598c0-10.698-8.671-19.369-19.369-19.369S0,72.59,0,83.289 v345.422c0,33.819,27.518,61.337,61.337,61.337H492.63c10.698,0,19.37-8.671,19.37-19.37V125.256 C512,114.558,503.329,105.887,492.63,105.887z M473.261,451.309H61.337c-12.461,0-22.598-10.137-22.598-22.598V140.313 c6.992,2.783,14.624,4.313,22.598,4.313h411.924V451.309z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M406.113,333.155c-17.097,0-30.998-13.901-30.998-30.991s13.907-30.991,30.998-30.991h85.871v-38.739h-85.871 c-38.455,0-69.737,31.282-69.737,69.73c0,38.448,31.282,69.73,69.737,69.73h86.517v-38.739H406.113z">
                                    </path>
                                </g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>Wallet
                    </a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/cc"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-credit-card">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>CC</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/fullz"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-credit-card">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>Fullz</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/dumps"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-credit-card">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>Dumps</a>
                </li>
                <li class="bf-navigation-item">
                    <a href="/logs"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-credit-card">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>Logs</a>
                </li>
                <li class="bf-navigation-item">
                    <a href="/guides"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-credit-card">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>Guides</a>
                </li>
                <li class="bf-navigation-item">
                    <a href="/services"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-credit-card">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg>Services</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill="#fff" fill-rule="nonzero"
                                d="M5.457 5H3a1 1 0 1 1 0-2h3.273a1 1 0 0 1 .98.8L7.907 7H21a1 1 0 0 1 .982 1.191l-1.311 6.72a2.623 2.623 0 0 1-2.616 2.09L10.12 17c-1.272.024-2.384-.852-2.635-2.087L6.12 8.24a.995.995 0 0 1-.016-.078L5.457 5zm2.86 4l1.128 5.513c.058.283.324.493.657.487h7.971c.314.006.58-.204.636-.48L19.786 9H8.317zM10 19h8a1 1 0 0 1 0 2h-8a1 1 0 0 1 0-2z">
                            </path>
                        </svg>Cart</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/purchases"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard">
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                            <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                        </svg>Purchases</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/support"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-life-buoy">
                            <circle cx="12" cy="12" r="10"></circle>
                            <circle cx="12" cy="12" r="4"></circle>
                            <line x1="4.93" y1="4.93" x2="9.17" y2="9.17"></line>
                            <line x1="14.83" y1="14.83" x2="19.07" y2="19.07"></line>
                            <line x1="14.83" y1="9.17" x2="19.07" y2="4.93"></line>
                            <line x1="14.83" y1="9.17" x2="18.36" y2="5.64"></line>
                            <line x1="4.93" y1="19.07" x2="9.17" y2="14.83"></line>
                        </svg>Support</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/auth/change-password"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>Change Password</a>
                </li>

                <li class="bf-navigation-item">
                    <a href="/auth/logout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-log-out">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                            <polyline points="16 17 21 12 16 7"></polyline>
                            <line x1="21" y1="12" x2="9" y2="12"></line>
                        </svg>Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>