<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="canonical" href="/" />
  <title>News</title>

  <base href="." />

  <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 minimum-scale=1 user-scalable=no" />

  <meta name="description"
    content="News Dumps Shop 2022. Best CVV Shop, Cheap Dumps, Quality Dumps With Pin. Fast Checker CC. Fat Balance. Track 1 and Track 2 CC." />

  <meta name="keywords" content="News dumps, cc, cvv, credit card, dumps with pin, cvv shop" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="address=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="/static/logo.webp" />
  <link rel="icon" type="image/png" sizes="32x32"
    href="/static/logo.webp" />
  <link rel="icon" type="image/png" sizes="16x16"
    href="/static/logo.webp" />
  <link rel="manifest" href="https://bigfat.cc/catalog/view/theme/bigfat/favicons/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="stylesheet" href="/static/61ad427ae611110d9f02176ddcad45ae-1-1.css" as="style"
    onload="this.onload=null;this.rel=&#39;stylesheet&#39;;this.media=&#39;screen&#39;" crossorigin="anonymous"
    media="screen" />
  <link rel="stylesheet" media="screen" href="/static/61ad427ae611110d9f02176ddcad45ae-1-1.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css2" as="style"
    onload="this.onload=null;this.rel=&#39;stylesheet&#39;;this.media=&#39;screen&#39;" crossorigin="anonymous"
    media="screen" />
  <link rel="stylesheet" media="screen" href="/static/css2" crossorigin="anonymous" />
  <script src="/static/jquery.min.js.download" crossorigin="anonymous"></script>
  <script src="/static/feather.min.js.download" crossorigin="anonymous"></script>
  <script src="/static/js.cookie.min.js.download" async="" crossorigin="anonymous"></script>
  <script src="/static/popper.min.js.download" crossorigin="anonymous"></script>
  <script src="/static/bootstrap.min.js.download" crossorigin="anonymous"></script>
  <script src="/static/c3d68690fb87b292da41f95867e8b787-1-1.js.download" async="" crossorigin="anonymous"></script>
</head>

<body>
  {% include 'base/header.html' %}
  <div class="bf-article-page">
    <div class="bf-article-page-headbox">
      <div class="bf-article-page-headbox-overflow">
        <div class="bf-article-headbox-left">
          <ol class="bf-breadcrumb">
            <li class="bf-breadcrumb-item"><a href="/news">Home</a></li>
            <li class="bf-breadcrumb-item">News</li>
          </ol>
        </div>

        <div class="bf-headbox-right"></div>
      </div>
    </div>

    <div class="bf-article-inner">
      <div class="bf-article-news-items">
        {% for n in news %}
        <div data-index="0" class="bf-article-news-item row-block" style="display: block">
          <div class="bf-article-header">
            <h2 class="bf-article-news-title">{{n.title}}</h2>
            <div class="bf-article-news-data">{{n.pub_date}}</div>
          </div>

          <div class="bf-article-news-content">
            <div class="bf-article-main-content">
              <pre>{{ n.content }}</pre>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="bf-article-pagination paginator-ajax2" onclick="paginator_ajax2.click(event)" data-loaded_rows="5"></div>
      </div>
    </div>

    <div class="bf-overflow-close-block"></div>

    <div class="bf-alert_shop-overflow"></div>
</body>

</html>