<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="canonical" href="/" />
    <title>Account Purchases</title>

    <base href="." />

    <meta name="viewport"
        content="width=device-width initial-scale=1 maximum-scale=1 minimum-scale=1 user-scalable=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="/static/logo.webp" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="/static/logo.webp" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="/static/logo.webp" />
    <link rel="manifest" href="https://bigfat.cc/catalog/view/theme/bigfat/favicons/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/static/61ad427ae611110d9f02176ddcad45ae-1-1.css" as="style"
        onload="this.onload=null;this.rel=&#39;stylesheet&#39;;this.media=&#39;screen&#39;" crossorigin="anonymous"
        media="screen" />
    <link rel="stylesheet" media="screen" href="/static/61ad427ae611110d9f02176ddcad45ae-1-1.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css2" as="style"
        onload="this.onload=null;this.rel=&#39;stylesheet&#39;;this.media=&#39;screen&#39;" crossorigin="anonymous"
        media="screen" />
    <link rel="stylesheet" media="screen" href="/static/css2" crossorigin="anonymous" />
    <script src="/static/jquery.min.js.download" crossorigin="anonymous"></script>
    <script src="/static/feather.min.js.download" crossorigin="anonymous"></script>
    <script src="/static/js.cookie.min.js.download" async="" crossorigin="anonymous"></script>
    <script src="/static/popper.min.js.download" crossorigin="anonymous"></script>
    <script src="/static/bootstrap.min.js.download" crossorigin="anonymous"></script>
    <script src="/static/92fb9581c692b76215e857ec6376c303-1-1.js.download" async="" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'base/header.html' %}
    <div class="bf-article-page">
        <div class="bf-article-page-headbox">
            <div class="bf-article-page-headbox-overflow">
                <div class="bf-article-headbox-left">
                    <ol class="bf-breadcrumb">
                        <li class="bf-breadcrumb-item"><a href="/news">Home</a></li>
                        <li class="bf-breadcrumb-item"><a href="/purchases">Purchases</a></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="bf-article-inner">
            <div class="bf-table-box bf-purchases-table">
                <div class="bf-table-header">
                    <div class="bf-table-cell"><span>Order ID</span></div>
                    <div class="bf-table-cell"><span>Name</span></div>
                    <div class="bf-table-cell"><span>Date</span></div>
                    <div class="bf-table-cell"><span>Details</span></div>
                </div>
            </div>

            <div class="bf-table-box bf-purchases-table">
                <ul class="bf-table-items-row popular-tag-items" data-jplist-group="group1">
                    {% for order in orders %}
                    <li class="bf-table-item-row" data-jplist-item="">
                        <div class="bf-table-items">
                            <div class="bf-table-cell">
                                <span><small>Order ID</small>{{order.id}}</span>
                            </div>
                            <div class="bf-table-cell">
                                <span><small>Name</small>{{order.product}}</span>
                            </div>
                            <div class="bf-table-cell">
                                <span><small>Date</small>{{order.date_created}}</span>
                            </div>
                            <div class="bf-table-cell">
                                <span><small>Details</small>
                                    <p id="order_download_id_739872">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-copy bf-copy-text"
                                            onclick="to_clipboard(&#39;order_download_id_739872&#39;)">
                                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                                        </svg>
                                        <pre>{{ order.data }}<br>Extra>: {{order.extra}}</pre>
                                    </p>
                                </span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>

</html>